:root {
	--red: #FB565A;
	--dark-red: #E74246;
	--extra-dark-red: #D7373B;
	--green: #00CA74;
	--dark-green: #00BC6C;
	--extra-dark-green: #00AA62;
	--yellow: #EFC84A;
	--dark-yellow:#EAB534;
	--extra-dark-yellow: #E5A722;
	--grey: #EEEEEE;
	--dark-grey: #DFDFDF;
	--extra-dark-grey: #D5D5D5;
	--black: #000000;
	--white: #FFFFFF;
	--shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

body {
	min-width: 1200;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.main-navigation{
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	background-color: var(--grey);
	text-transform: uppercase;
}

.site-navigation{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.site-navigation a, .cart a {
	color: var(--black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
	color: var(--red);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	}

.slider {
	background-color: var(--grey);
}

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slider-btn {
	font: inherit;
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--red);
}

.slider-btn:hover,
.slider-btn:focus {
	background-color: var(--dark-red);
}

.slider-btn:active {
	background: var(--extra-dark-red);
	box-shadow: var(--shadow);
	
}

.services-title {
	font-weight: 700;
	font-size: 24px;
}

.services-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.services-btn {
	font: inherit;
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--red);
}

.services-btn:hover,
.services-btn:focus {
	background-color: var(--dark-red);
}

.services-btn:active {
	background-color: var(--extra-dark-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-green {
	background-color: var(--green);
}

.btn-green:hover,
.btn-green:focus {
	background-color: var(--dark-green);
}

.btn-green:active {
	background-color: var(--extra-dark-green);
}

.btn-yellow {
	background-color: var(--yellow);
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: var(--dark-yellow);
}

.btn-yellow:active{
	background-color: var(--extra-dark-yellow);
}
.about-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.facts-percent {
	font-weight: 700;
	font-size: 45px;
}

.social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.modal {

}

.modal-title {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
}

.modal-btn {
	font: inherit;
	text-align: center;
	color:  var(--white);
	text-transform: uppercase;
	background-color: var(--red);
	border: none;
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--dark-red);
}

.modal-btn:active {
	background: var(--extra-dark-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.modal-label {
	font-weight: 700;
}

.catalog-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	background-color: var(--grey);
	margin-top: 0;

}

.catalog-sort {
	font-size: 18px;
	line-height: 30px;
}

.catalog-sort-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-sort-list a {
	color: var(--dark-grey);
}

.catalog-sort-list a:hover,
.catalog-sort-list a:focus {
	color: var(--black);
}

.active-btn {
	color: var(--black);
}

.active-btn:hover,
.active-btn:focus,
.active-btn:active {
	color: var(--black);
}

.catalog-legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}

.catalog-item {
	list-style: none;
	line-height: 19px;
	margin: 0;
	padding: 0;
}

.filter-btn {
	font: inherit;
	background-color: var(--grey);
	border: none;
}

.filter-btn:hover {
	background-color: var(--dark-grey);
}

.filter-btn:active {
	background-color: var(--extra-dark-grey);
	opacity: 0.3;

}

.section-filter h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--black);
}

.product-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.product-price {
	background-color: var(--red);
	color: var(--white);
	border-radius: 3px;
	font: inherit;
}

.product-price:hover {
	background-color: var(--dark-red);
}

.product-price:active {
	background-color: var(--extra-dark-red);
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination-item a {
	color: var(--black);
	background-color: var(--grey);
}

.pagination-item a:hover
.pagination-item a:focus{
	background-color: var(--dark-grey);	
}

.pagination-item a:active {
	background-color:  var(--extra-dark-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	border: 3px solid var(--dark-grey);
}

.partners {
	list-style: none;
}

