body {
min-width: 1180;
margin: 0;
padding: 0;
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
}

.page{
	height: 100%;
}

.page-body{
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.main-header {
	margin-bottom: 9px;
}

a {
	text-decoration: none;
}

.logo {
	padding-left: 140px;
	padding-top: 49px;
	width: 160px;
	height: 66px; 
}

nav { 
	background-color: #EEEEEE;
	
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation {
font-weight: 500;
text-transform: uppercase;
}
.slider {
background-color: #EEEEEE;
margin-top: 0
}
.slider-title {

font-size: 55px;
line-height: 55px;
list-style: none;
}



p {
	font-size: 16px;
}




	
}
.services-list {
	list-style: none;
}

.catalog-title {
	font-size: 55px;
	background-color: #EEEEEE;
}

.catalog-filter-title {
font-weight: bold;
font-size: 18px;
}

.sort {
	font-size: 14px;
}

footer-title {
font-size: 36px;
line-height: 0px
}

.social {
list-style: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-navigation {
	list-style: none;
	display: inline-flex;
	
}