:root {
	--red: #FB565A;
	--dark-red: #E74246;
	--extra-dark-red: #D7373B;
	--green: #00CA74;
	--dark-green: #00BC6C;
	--extra-dark-green: #00AA62;
	--yellow: #EFC84A;
	--dark-yellow:#EAB534;
	--extra-dark-yellow: #E5A722;
	--grey: #EEEEEE;
	--dark-grey: #DFDFDF;
	--extra-dark-grey: #D5D5D5;
	--black: #000000;
	--white: #FFFFFF;
	--shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

body {
	min-width: 1200;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.page{
	height: 100%
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}



.main-navigation{
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	background-color: var(--grey);
	text-transform: uppercase;
}

.container{
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 75px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.cart{
	padding-left: 50px;
}

.site-navigation{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.site-navigation a, .cart a {
	color: var(--black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
	color: var(--red);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	}

.slider {
	background-color: var(--grey);
}

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slider-btn {
	font: inherit;
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--red);
}

.slider-btn:hover,
.slider-btn:focus {
	background-color: var(--dark-red);
}

.slider-btn:active {
	background: var(--extra-dark-red);
	box-shadow: var(--shadow);
	
}

.services{
	margin-bottom: 80px;
	margin-top: 80px;
}

.services-title {
	font-weight: 700;
	font-size: 24px;
}

.services-list {
	width: 1200px;
	list-style: none;
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: space-between;

}

.services-btn {
	font: inherit;
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--red);
}

.services-btn:hover,
.services-btn:focus {
	background-color: var(--dark-red);
}

.services-btn:active {
	background-color: var(--extra-dark-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-green {
	background-color: var(--green);
}

.btn-green:hover,
.btn-green:focus {
	background-color: var(--dark-green);
}

.btn-green:active {
	background-color: var(--extra-dark-green);
}

.btn-yellow {
	background-color: var(--yellow);
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: var(--dark-yellow);
}

.btn-yellow:active{
	background-color: var(--extra-dark-yellow);
}

.advantages{
	display: flex;
	justify-content: space-between;
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
	margin-top: 80px;
	padding-top: 38px;
	padding-bottom: 73px;
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
}

.about-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.orders{
line-height: 55px;
}

.facts-percent {
	font-weight: 700;
	font-size: 45px;
	
	
}

.about{
	width: 650px
}

.facts{
	width: 360px;
}

.facts-title {
	margin: 0;
	margin-top: 37px;
}
.facts-virtues{
	display: flex;
	justify-content: start;
	width: 360px;
	margin: 0;
	list-style: none;
     padding-inline-start: 40px
}

.fact-percent {
	padding-top: 10px;
	margin-right: 20px;
	
}

.partners{
	width: 1200px;
	list-style: none;
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
	padding-top: 46px;
	padding-bottom: 44px;
	border-bottom: 2px solid #EEEEEE;
	margin-bottom: 80px;
}

.footer{
	display: flex;
	justify-content: space-around;
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.social {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #e1e1e1;
}

.footer-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 10px

}

.modal {

}

.modal-title {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
}

.modal-btn {
	font: inherit;
	text-align: center;
	color:  var(--white);
	text-transform: uppercase;
	background-color: var(--red);
	border: none;
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--dark-red);
}

.modal-btn:active {
	background: var(--extra-dark-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.modal-label {
	font-weight: 700;
}


.catalog-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	background-color: var(--grey);
	margin-top: 0;
	padding-top: 87px;
	padding-bottom: 108px;

}



.catalog-sort {
	font-size: 18px;
	line-height: 30px;
}

.catalog-list {
	margin-left: 140px;
}

.catalog-product{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 30px;
list-style: none;
}

.catalog-sites{
margin-right: 37px;
margin-bottom: 30px;
width: 360px;
min-height: 580px;

}

.catalog-product:nth-child(2n){
	margin-right: 0;
}

.catalog-sort-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-sort-list a {
	color: var(--dark-grey);
}

.catalog-sort-list a:hover,
.catalog-sort-list a:focus {
	color: var(--black);
}


.wrapper-content{
	display: grid;
	grid-template-columns: 260px 1fr;
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.breadcrums{
	grid-column: 1 / -1;
	margin-bottom: 48px;
}

.filters fieldset {
	padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 46px;
}

.catalog-filter {
  
  line-height: 30px;
}

.active-btn {
	color: var(--black);
}

.active-btn:hover,
.active-btn:focus,
.active-btn:active {
	color: var(--black);
}

.catalog-legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}

.catalog-item {
	list-style: none;
	line-height: 19px;
	margin: 0;
	padding: 0;
}

.filter-btn {
	font: inherit;
	background-color: var(--grey);
	border: none;
}

.filter-btn:hover {
	background-color: var(--dark-grey);
}

.filter-btn:active {
	background-color: var(--extra-dark-grey);
	opacity: 0.3;

}

.section-filter h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: var(--black);
}

.product-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.product-price {
	background-color: var(--red);
	color: var(--white);
	border-radius: 3px;
	font: inherit;
}

.product-price:hover {
	background-color: var(--dark-red);
}

.product-price:active {
	background-color: var(--extra-dark-red);
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination-item a {
	color: var(--black);
	background-color: var(--grey);
}

.pagination-item a:hover
.pagination-item a:focus{
	background-color: var(--dark-grey);	
}

.pagination-item a:active {
	background-color:  var(--extra-dark-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	border: 3px solid var(--dark-grey);
}

.partners {
	list-style: none;
}

